<div class="row">
    <div class="col-xs-12 col-md-6 husky-container">
        <ul class="nav nav-tabs">
            <li class="active"><a ng-click="model.toAvailableOrders()">Outstanding orders ({{model.availableOrders.length}})</a></li>
            <li><a ng-click="model.toDeliveries()">Deliveries Completed</a></li>
        </ul>
        <h4>Deliveries:</h4>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="order in model.availableOrders">
                <br>
                Order Status: {{order.status}}
                <br>
                Pickup from: <a href="#!/restaurant/{{order.restaurant.id}}">{{order.restaurant.name}}</a>
                <br>
                <a>Deliver to</a>
                <br>
                Customer: {{order.customer.firstName}}
                <br>
                Address: {{order.customer.address[0]}}
                <br><br>
                <a ng-click="model.acceptOrder(order)"
                   class="btn pinkBtn btn-block"
                   role="button">Accept order</a>
            </li>
            <li class="list-group-item" ng-show="!model.availableOrders.length">
                You do not have any orders to deliver :(
            </li>
        </ul>
    </div>
</div>




