<div class="husky-bgimg"></div>
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HUSKYEATS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="fa fa-search"></span> Search</a></li>
                <li ng-show="model.currentUser" ><a href="#!/user"><span class="fa fa-user"></span> {{model.currentUser.firstName}}</a></li>
                <li ng-show="!model.currentUser"><a href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li ng-show="!model.currentUser"><a href="#!/register"><span class="glyphicon glyphicon-edit"></span> Register</a></li>
                <li ng-show="model.currentUser"><a ng-click="model.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" role="main">
    <div class="husky-spacing"></div>
    <div class="husky-spacing"></div>
    <div class="husky-spacing"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 husky-container husky-text-center">
                <h1 class="hidden-sm hidden-xs"><b>HUSKY</b>EATS</h1>
                <h2 class="visible-sm visible-xs">HUSKYEATS</h2>
                <div class="hidden-sm hidden-xs"><p>Order from the best local restaurants with easy, on-demand delivery.</p></div>
            <div class="husky-spacing"></div>
            <div class="husky-spacing"></div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" placeholder="I'm looking for..." ng-model="name" class="form-control">
                    <a class="btn btn-block form-control pinkBtn" ng-click="model.searchRestaurantByName(name)"><span class="fa fa-search"></span> Search</a>
                    <br>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><a ng-click="model.searchRestaurantByCuisine(1)">
                                <img src="../../../uploads/american.jpg" class="img-rounded float-left img-fluid" alt="American" width="150" height="100">
                                American</a>
                            </td>
                            <td><a ng-click="model.searchRestaurantByCuisine(3)">
                                <img src="../../../uploads/asian.jpeg" class="img-rounded float-left img-fluid" alt="Asian" width="150" height="100">
                                Asian</a>
                            </td>
                            <td><a ng-click="model.searchRestaurantByCuisine(25)">
                                <img src="../../../uploads/chinese.jpeg" class="img-rounded float-left img-fluid" alt="Chinese" width="150" height="100">
                                Chinese</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a ng-click="model.searchRestaurantByCuisine(148)">
                                <img src="../../../uploads/indian.jpg" class="img-rounded float-left img-fluid" alt="Indian" width="150" height="100">
                                Indian</a>
                            </td>
                            <td><a ng-click="model.searchRestaurantByCuisine(55)">
                                <img src="../../../uploads/italian.jpeg" class="img-rounded float-left img-fluid" alt="Italian" width="150" height="100">
                                Italian</a>
                            </td>
                            <td><a ng-click="model.searchRestaurantByCuisine(70)">
                                <img src="../../../uploads/falafel.jpg" class="img-rounded float-left img-fluid" alt="Mediterranean" width="150" height="100">
                                Mediterranean</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a ng-click="model.searchRestaurantByCuisine(73)">
                                <img src="../../../uploads/mexican.jpeg" class="img-rounded float-left img-fluid" alt="Mexican" width="150" height="100">
                                Mexican</a>
                            </td>
                            <td><a ng-click="model.searchRestaurantByCuisine(308)">
                                <img src="../../../uploads/vegetarian.jpg" class="img-rounded float-left img-fluid" alt="Vegetarian" width="150" height="100">
                                Vegetarian</a>
                            </td>
                            <td><a ng-click="model.searchRestaurantByCuisine(60)">
                                <img src="../../../uploads/japanese.jpeg" class="img-rounded float-left img-fluid" alt="Japanese" width="150" height="100">
                                Japanese</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
